* {
    box-sizing: border-box;
}

html,
body {
    --border-radius: 100px;
    --blue: #012A4A;
    --pink: #01497C;
    --green: #2C7DA0;
    --grey: #A9D6E5;
    --gutter: 3.125vw 6.25vw;

    margin: 0;
    padding: 0;
    background: #011524;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Syne', sans-serif;
}

h1 {
    font-size: 70px;
    line-height: 1em;
    margin: 0px;
}

h2 {
    font-size: 60px;
    margin: 0px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    top: 100px;
    z-index: 2;
    /* the z-index CSS property sets the z-order of a positioned element and its descendants or flex and grid items. Overlapping elements with a larger z-index cover those with a smaller one. */
}

section.sticky {
    position: sticky;
    margin-top: 100px;
}

section.full-screen {
    height: 100vh;
    top: 0;
    margin-top: o;
    z-index: 3;
    background: #000000;
    color: #f5f0f0;
}


/* navigation */
/* An element with position: fixed; is positioned relative to the viewport, which means it always stays in the same place even if the page is scrolled. The top, right, bottom, and left properties are used to position the element. 
flex	Displays an element as a block-level flex container.

Gutters are the gaps between column content, created by horizontal padding .
*/

nav {
    pz-index: 5;
    text-transform: uppercase;
    background-color:#011524;
    border: 1px solid #c8e6f1f2;
    border-radius: 1.5em;
    align-items: center;
    width: calc(100% - 2em);
    height: 4rem;
    margin-left: 1em;
    font-weight: 400;
    display: flex;
    position: fixed;

}

nav ul {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-left: 45px;
}

nav ul li a {
    color: #ffffff;
    font-family: 'Space Mono', monospace;
}

nav ul li a:hover {
    background: #e5e5e5;
    color: #010101;
}

/* about section */

section.about .empty {
    flex-basis: 37.5vw;
    background: var(--grey);
    border-radius: var(--border-radius);
    transition: flex-basis 1s cubic-bezier(0, .9, .4, .99);
}

section.about article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.about article .title {
    flex: 2;
    display: flex;
    align-items: flex-end;
    background: var(--blue);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    transition: flex-basis 1s cubic-bezier(0, .9, .4, .99);

}

section.about article .description {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--pink);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    color: #000000;
}

/* service section */

section.service article {
    display: flex;
    width: 100%;
}

section.service figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0;
    background: var(--green);
    border-radius: var(--border-radius);
    max-width: 62.5vw;
    transition: flex-basis 1s cubic-bezier(0, .9, .4, .99);
}

section.service figure img {
    width: 40%;
}

section.service .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: #1f1a1c;
    padding: var(--gutter);
    border-radius: var(--border-radius);
}

section.service text a {
    font-family: 'Space Mono', monospace;
}

/* service section animations */

section.service.service-html figure img {
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77, .28, .42, .93);
}

ection.service.service-css figure img {
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77, .28, .42, .93);
}

section.service.service-js figure img {
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77, .28, .42, .93);
}

@keyframes float {
    0% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(5%);
    }
}

@keyframes scale {
    0% {
        transform: scale(.75);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

* service section overrides */ section.service.service-html figure {
    background: var(--green);
}

section.service.service-html .text h2,
section.service.service-html .text a {
    color: var(--pink);
}

section.service.service-css figure {
    background: var(--blue);
}

section.service.service-css .text h2,
section.service.service-css .text a {
    color: var(--green);
}

section.service.service-js figure {
    background: var(--pink);
}

section.service.service-js .text h2,
section.service.service-js .text a {
    color: var(--blue);
}


/* contact section */


section.contact {
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.87);
    border-radius: var(--border-radius);
    border-color: #526538;
    border-style: solid;
}

section.contact a {
    font-size: 100px;
    color: #ffffff;
    font-weight: bold;
}

section.contact a {
    margin: 6.25vw;
}

section.contact a img {
    width: calc(50vw - 4 * 6.25vw);
}


/* responsive for mobile */

@media only screen and (max-width: 768px) {

    html,
    body {
        --border-radius: 50px;
        --gutter: 6.25vw;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    nav ul li {
        margin-left: 25px;
    }

    section.service article {
        flex-direction: column;
    }

    section.service figure {
        flex-basis: 25vh;
    }

    section.service figure img {
        width: 20%;
    }

    section.contact a {
        font-size: 50px;
        transform: rotate(90deg);
    }
}