* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: aliceblue;
    font-size: 30px;
    font-family: sans-serif;
}

section {
    width: 100%;
    height: 100vw;
}

/* navigation */
/* An element with position: fixed; is positioned relative to the viewport, which means it always stays in the same place even if the page is scrolled. The top, right, bottom, and left properties are used to position the element. */

nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}